<!doctype html>
<html>
  <head>

    <title>Generate Docx</title>
    <style>
        /* Add custom CSS styles */
        .form-row {
            display: flex;
            justify-content: space-around;
        }

        .form-row label, .form-row input {
            flex: 1;
            /* margin-right: 10px; */
        }
    </style>

  </head>

  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} 

      <h1>Institution Details</h1>
      <table>
        <tr>
          <td>Institution Name</td>
          <td>{{ institution_form.name }}</td>
        </tr>
        <tr>
          <td>Place</td>
          <td>{{ institution_form.place }}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{ institution_form.district }}</td>
        </tr>
        <tr>
          <td>Phone no</td>
          <td>{{ institution_form.phone_no }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ institution_form.email }}</td>
        </tr>
      </table>

      <!-- {{ institution_form.as_p }} -->

      <h1>Student Details</h1>

      <div class="form-row">
        <p>Student Name</p>
        <p>Class</p>
        <p>IFSC Code</p>
      </div>

      <div class="form-row">
          {{ student_form.student_name }}
          {{ student_form.student_class }}
          {{ student_form.student_ifsc }}
      </div>

      <button type="submit">Generate Docx</button>
    </form>
  </body>
</html>
